.slider {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_slider {
    display: flex;
    align-items: center;
  }
  &_swiper {
    width: 250px;
    padding: 10px;
    overflow-x: hidden;
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      width: 230px;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      width: 200px;
    }
    @media screen and (max-width: 1061px), screen and (max-height: 659px) {
      width: 180px;
    }
  }
  &_buttons {
    display: flex;
    grid-gap: 10px;

    margin-top: 10px;
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      margin-top: 10px;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      margin-top: 5px;
    }
  }
  &_title {
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 15px;

    text-align: center;
    color: #000000;
    user-select: none;
    cursor: default;
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      font-size: 0.9em;
    }
    @media screen and (max-width: 1061px), screen and (max-height: 659px) {
      font-size: 0.8em;
      line-height: 100%;
    }
  }
  &_button {
    &_main {
      font-style: normal;
      font-weight: 700;
      font-size: 1em;
      line-height: 16px;

      color: #ffffff;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 0.9em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        font-size: 0.8em;
        line-height: 100%;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.7em;
      }
      @media screen and (max-width: 470px) {
        font-size: 0.9em;
      }
    }
    &_small {
      font-style: normal;
      font-weight: 400;
      font-size: 0.9em;
      line-height: 12px;

      color: #ffffff;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 0.8em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        font-size: 0.7em;
        line-height: 100%;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.6em;
      }
    }
  }
  &_notsub {
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 15px;

    color: #5d5fef;
    text-decoration: underline;
    margin-top: 20px;
    &:hover {
      cursor: pointer;
      color: #484bdd;
    }
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      font-size: 0.8em;
      margin-top: 10px;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      font-size: 0.7em;
      margin-top: 5px;
    }
    @media screen and (max-width: 1061px), screen and (max-height: 659px) {
      font-size: 0.6em;
    }
  }
  &_btn {
    background: none;
    border: none;
    & svg {
      transition: all 0.3s;
    }
    &:hover {
      cursor: pointer;
      & svg {
        transform: scale(1.1);
      }
    }
    &:disabled {
      opacity: 0.8;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      & svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  &_card {
    width: 230px;
    height: 280px;
    gap: 36px;

    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    position: relative;
    padding: 15px;

    cursor: default;
    user-select: none;
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      width: 210px;
      height: 260px;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      width: 180px;
      height: 230px;
    }
    @media screen and (max-width: 1061px), screen and (max-height: 659px) {
      width: 160px;
      height: 200px;
    }
    &_content {
      height: 100%;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
    }
    &_logo {
      width: 100%;
      height: 80px;

      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        height: 60px;
        & img {
          height: 55px;
        }
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        height: 50px;
        & img {
          height: 50px;
        }
      }

      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        height: 45px;
        & img {
          height: 45px;
        }
      }
    }
    &_value {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin-top: 20px;

      & h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 2.3em;
        text-align: center;

        color: #000000;
        margin: 0;
        padding: 0;
        @media screen and (max-width: 1520px), screen and (max-height: 820px) {
          font-size: 2.1em;
        }
        @media screen and (max-width: 1150px), screen and (max-height: 685px) {
          font-size: 1.9em;
        }
        @media screen and (max-width: 1061px), screen and (max-height: 659px) {
          font-size: 1.6em;
        }
      }
      & span {
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 15px;
        text-align: center;

        color: #7d7b7b;
        margin: 0;
        padding: 0;
        @media screen and (max-width: 1520px), screen and (max-height: 820px) {
          font-size: 0.9em;
        }
        @media screen and (max-width: 1150px), screen and (max-height: 685px) {
          font-size: 0.8em;
        }
        @media screen and (max-width: 1061px), screen and (max-height: 659px) {
          font-size: 0.7em;
        }
      }
    }
    &_info {
      display: flex;
      flex-direction: column;

      margin-top: auto;
    }
    &_total {
      font-style: normal;
      font-weight: 700;
      font-size: 1em;
      line-height: 17px;
      text-align: center;

      color: #7d7b7b;
      margin: 0 0;
      padding: 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 0.9em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        font-size: 0.8em;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.7em;
      }
    }
    &_lastcharge {
      font-style: normal;
      font-weight: 400;
      font-size: 0.8em;
      line-height: 15px;
      text-align: center;

      color: #7d7b7b;
      margin: 5px 0 0 0;
      padding: 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 0.7em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        line-height: 100%;
        font-size: 0.6em;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.5em;
        margin: 0;
      }
      @media screen and (max-width: 470px) {
        font-size: 0.6em;
      }
    }
  }
  &_expand {
    background: none;
    border: none;

    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 100;
    & svg {
      width: 25px;
      height: 25px;
    }
    &:hover {
      cursor: pointer;
      & svg {
        & path {
          fill: #636060;
        }
      }
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      & svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
