.tab {
  &_container {
    width: 100%;

    padding: 0 50px;
    display: flex;
    flex-direction: column;
  }
  &_title {
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 30px;

    color: #000000;
    margin: 20px 0 0 0;
    padding: 0;

    user-select: none;
    cursor: default;
  }
  &_button {
    width: fit-content;

    border: none;
    background: none;

    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 17px;

    display: flex;
    align-items: center;

    color: #5d5fef;
    transition: all 0.3s;

    margin: 0;
    padding: 0;

    & svg {
      transition: all 0.3s;
      margin-bottom: 1px;
      & path {
        fill: #5d5fef;
      }
    }
    &:hover {
      cursor: pointer;
      & svg {
        margin-left: -5px;
      }
    }
  }
}
