.mainblock {
  &_container {
    max-width: 480px;
    height: 500px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;

    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);

    border-radius: 10px;
    padding: 12px;
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      max-width: 440px;
      height: 440px;
    }
    @media screen and (max-width: 1300px), screen and (max-height: 745px) {
      max-width: 380px;
      height: 430px;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      max-width: 320px;
      height: 390px;
    }
    @media screen and (max-width: 1061px), screen and (max-height: 659px) {
      max-width: 290px;
      height: 355px;
    }
    @media screen and (max-width: 875px), screen and (max-height: 605px) {
      grid-area: 1 / 1 / 2 / 3;
      order: -1;
      max-width: 100%;
    }
  }
}
