.review {
  &_container {
    display: flex;
    align-items: center;
    flex-direction: column;

    grid-gap: 20px;
    @media screen and (max-width: 875px), screen and (max-height: 605px) {
      height: 100%;
      width: 100%;
    }
    @media screen and (max-width: 470px) {
      height: fit-content;
    }
  }
  &_blocks {
    max-width: 100%;
    width: 100%;
    height: 550px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      height: 480px;
    }
    @media screen and (max-width: 1300px), screen and (max-height: 745px) {
      height: 450px;
      margin-top: 10px;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      height: 440px;
      margin-top: 0px;
      margin-bottom: -20px;
    }
    @media screen and (max-width: 1061px), screen and (max-height: 659px) {
      height: 400px;
      margin-top: 0px;
      margin-bottom: -20px;
    }
    @media screen and (max-width: 875px), screen and (max-height: 605px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 20px;
      width: 440px;
    }
    @media screen and (max-width: 470px) {
      display: flex;
      flex-direction: column;

      height: 100%;
      padding-bottom: 30px;
    }
  }
  &_button {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 20px;

    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    & svg {
      margin-left: 5px;
      transition: all 0.2s;
      margin-bottom: 1px;
      & path {
        fill: white;
      }
    }
    &:hover {
      margin-left: 5px;
      & svg {
        & path {
          fill: white;
        }
      }
    }
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      font-size: 1em;
      & svg {
        width: 14px;
        height: 14px;
        margin-bottom: 0px;
      }
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      font-size: 0.8em;
      & svg {
        width: 12px;
        height: 12px;
      }
    }
    @media screen and (max-width: 400px) {
      color: #5d5fef;
      & svg {
        width: 15px;
        height: 15px;
        margin-left: 2px;
        margin-bottom: 1px;
        & path {
          fill: #5d5fef;
        }
      }
    }
  }
  &_footer {
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 12px;
    text-align: right;

    color: #000000;
    margin-left: auto;
    margin-top: -20px;
    & span {
      font-style: normal;
      font-weight: 500;
      font-size: 0.9em;
      line-height: 12px;
      text-decoration-line: underline;

      color: #5d5fef;
      margin-left: 5px;
      &:hover {
        cursor: pointer;
        color: #484bdd;
      }
    }
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      font-size: 0.8em;
      & span {
        font-size: 0.9em;
      }
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      font-size: 0.7em;
      & span {
        font-size: 0.8em;
      }
    }
    @media screen and (max-width: 875px), screen and (max-height: 605px) {
      margin-top: auto;
    }
  }
}
