.advantages {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-gap: 25px;
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      grid-gap: 15px;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      grid-gap: 10px;
    }
    @media screen and (max-width: 1061px), screen and (max-height: 659px) {
      grid-gap: 7px;
      margin-top: -10px;
    }
  }
  &_item {
    display: flex;
    align-items: center;

    grid-gap: 15px;
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      grid-gap: 10px;
    }
  }
  &_icon {
    & img {
      width: 30px;
      height: 30px;
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        width: 25px;
        height: 25px;
      }
    }
  }

  &_text {
    max-width: 130px;

    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 13px;

    color: #000000;

    margin: 0;
    padding: 0;

    cursor: default;
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      max-width: 110px;
      font-size: 0.7em;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      max-width: 100px;
      font-size: 0.6em;
    }
    @media screen and (max-width: 1061px), screen and (max-height: 659px) {
      max-width: 90px;
      font-size: 0.55em;
    }
  }
  &_accent {
    font-weight: 700;
  }
}
