.button {
  &_container {
    width: 200px;
    height: 50px;

    border-radius: 10px;
    border: none;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      -webkit-filter: brightness(95%);
    }
  }
}
