.button {
  &_container {
    width: 200px;
    height: 50px;

    border-radius: 10px;
    border: none;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      -webkit-filter: brightness(95%);
    }
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      width: 170px;
      height: 45px;
    }
    @media screen and (max-width: 1300px), screen and (max-height: 745px) {
      width: 160px;
      height: 40px !important;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      width: 140px;
      height: 35px !important;
    }
    @media screen and (max-width: 1061px), screen and (max-height: 659px) {
      width: 125px;
      height: 32px !important;
    }
    @media screen and (max-width: 400px) {
      width: 100px;
    }
  }
}
