.bill {
  &_container {
    display: flex;
    flex-direction: column;

    padding: 0 5px;
    cursor: default;
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      padding: 0px;
    }
  }
  &_primary {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 15px;
    border-bottom: 0.5px solid #e9e9e9;

    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      padding-bottom: 10px;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      padding-bottom: 5px;
    }
    @media screen and (max-width: 1061px), screen and (max-height: 659px) {
      margin-top: -10px;
    }

    &_title {
      font-style: normal;
      font-weight: 700;
      font-size: 1.3em;
      line-height: 20px;

      color: #5d5fef;

      padding: 0;
      margin: 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 1.15em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        font-size: 1em;
        line-height: 100%;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.85em;
      }
    }
    &_asset {
      font-style: normal;
      font-weight: 400;
      font-size: 0.9em;
      line-height: 12px;

      color: #7d7b7b;

      padding: 0;
      margin: 7px 0 0 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 0.8em;
        margin: 4px 0 0 0;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        font-size: 0.7em;
        line-height: 100%;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.6em;
      }
    }
    &_value {
      font-style: normal;
      font-weight: 700;
      font-size: 1.5em;
      line-height: 20px;

      color: #5d5fef;

      padding: 0;
      margin: 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 1.3em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        font-size: 1.1em;
        line-height: 100%;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 1em;
      }
    }
  }
  &_items {
    width: 100%;

    display: flex;
    flex-direction: column;
    grid-gap: 25px;

    padding: 25px 0;
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      grid-gap: 20px;
      padding: 20px 0;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      grid-gap: 15px;
      padding: 15px 0;
    }
  }
  &_item {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &_title {
      font-style: normal;
      font-weight: 700;
      font-size: 1em;
      line-height: 15px;

      color: #000000;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 0.9em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        font-size: 0.8em;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.7em;
      }
    }
    &_description {
      font-style: normal;
      font-weight: 400;
      font-size: 0.8em;
      line-height: 10px;

      color: #7d7b7b;
      margin: 5px 0 0 0;
      padding: 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 0.7em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        font-size: 0.6em;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.5em;
        margin: 0;
      }
      @media screen and (max-width: 470px) {
        font-size: 0.6em;
      }
    }
    &_asset {
      font-style: normal;
      font-weight: 500;
      font-size: 0.65em;
      line-height: 10px;
      text-decoration-line: underline;

      color: #5d5fef;
      margin: 5px 0 0 0;
      padding: 0;

      cursor: pointer;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 0.55em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        margin: 2px 0 0 0;
        font-size: 0.45em;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.4em;
      }
      @media screen and (max-width: 470px) {
        font-size: 0.6em;
      }
    }
    &_value {
      font-style: normal;
      font-weight: 500;
      font-size: 1.1em;
      line-height: 20px;
      text-align: right;

      color: #000000;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 1em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        font-size: 0.9em;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.8em;
      }
    }
  }
  &_new {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 15px;
    border-top: 0.5px solid #e9e9e9;
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      padding-top: 10px;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      padding-top: 5px;
    }

    &_title {
      font-style: normal;
      font-weight: 700;
      font-size: 1em;
      line-height: 15px;
      display: flex;
      align-items: center;

      color: #7d7b7b;

      padding: 0;
      margin: 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 0.9em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        font-size: 0.8em;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.7em;
      }
    }
    &_asset {
      font-style: normal;
      font-weight: 400;
      font-size: 0.8em;
      line-height: 12px;

      color: #7d7b7b;

      padding: 0;
      margin: 7px 0 0 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        margin: 4px 0 0 0;
        font-size: 0.7em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        margin: 2px 0 0 0;
        font-size: 0.6em;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 0.5em;
        line-height: 100%;
      }
      @media screen and (max-width: 470px) {
        font-size: 0.6em;
      }
    }
    &_value {
      font-style: normal;
      font-weight: 700;
      font-size: 1.5em;
      line-height: 20px;

      color: #7d7b7b;

      padding: 0;
      margin: 0;
      @media screen and (max-width: 1520px), screen and (max-height: 820px) {
        font-size: 1.3em;
      }
      @media screen and (max-width: 1150px), screen and (max-height: 685px) {
        font-size: 1.1em;
      }
      @media screen and (max-width: 1061px), screen and (max-height: 659px) {
        font-size: 1em;
      }
    }
  }
  &_content {
    display: flex;
    flex-direction: column;
  }
}
