.submodal {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    gap: 23px;

    width: 1200px;
    height: 800px;

    background: #ffffff;
    @media screen and (max-width: 1520px), screen and (max-height: 820px) {
      width: 1100px;
      height: 700px;
    }
    @media screen and (max-width: 1300px), screen and (max-height: 745px) {
      width: 1000px;
      height: 670px;
    }
    @media screen and (max-width: 1150px), screen and (max-height: 685px) {
      width: 900px;
      height: 620px;
    }
    @media screen and (max-width: 1061px), screen and (max-height: 659px) {
      width: 800px;
      height: 580px;
    }
    @media screen and (max-width: 875px), screen and (max-height: 605px) {
      width: 100%;
      height: 100%;
    }
  }

  &_content {
    width: 100%;

    @media screen and (max-width: 875px), screen and (max-height: 605px) {
      height: 100%;
    }
  }
}
