.submodal {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    gap: 23px;

    width: 1200px;
    height: 800px;

    background: #ffffff;
  }

  &_content {
    width: 100%;
  }
}
